///// FONTS /////
$font-display: 'Bebas Neue', sans-serif;
$font-primary: 'Open Sans', sans-serif;

///// COLORS /////
$color-white: #fff;
$color-grey: #5a5a5a;
$color-display: #25365d;
$color-secondary: #748bb2;
$color-grey-light: #f7f9fb;
$color-pink: #ff2868;

///// SHADOWS /////
$shadow-light: .5rem .5rem 2rem rgba(0,0,0,.3);
$shadow-input: 0 0 2rem rgba(0,0,0,.3);
$img-shadow-light: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
$img-shadow-large: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);


$marker-size: 3rem;
$half-marker-size: 1.5rem;
$dashed-line-length: 20rem;
$dashed-line-length-10rem: 20rem;
