.search {
    display: flex;
    align-items: center;

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: -2rem;
        fill: $color-white;
    }

    &__input {
        width: 25rem;
        border: transparent solid 1px;;
        outline: none;
        background-color: transparent;
        line-height: 1.5rem;
        padding: .3rem .3rem .3rem 2.3rem;
        border-radius: 10rem;
        transition: all .3s;

        @include respond(tab-port) { // width < 900px
            width: 15rem;
        }

        @include respond(phone) { // width < 600px
            width: 10rem;
        }
    }

    &__input:focus {
        border: $color-display solid 1px;
    }
}